.content {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.home {
    position: relative; /* Necessário para o posicionamento absoluto interno */
    background-image: url('../../images/LEB.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
    height: 100vh;
    display: flex;
    justify-content: end;
    overflow-y: hidden;
    z-index: 1;    
}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(270deg, rgba(99, 186, 204, 0.246) 0%, rgba(44,179,238,0.6) 50%, rgba(0,0,0,1) 100%);
    /* Gradiente azul */
    opacity: 1; /* Ajuste a opacidade conforme necessário */
    pointer-events: none; /* Evita interação com o pseudo-elemento */
}

.filter-home{
    display: flex;
    position: relative;
    width: 101vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.575);
    flex-direction: column;
}

.login-area{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 40%;
    border-radius: 20px !important;
    box-shadow: 2px 2px 2px 1px rgb(155 133 133 / 50%);
}

.card-header{
    font-size: 1em;
    font-weight: 100 !important;
    text-align: center;
    border-radius: 20px 20px 0px 0px !important;
    background-color: #b1b1b1a9 !important;
}

.card-body{
    border-radius: 20px 20px;
    padding: 5% 8% 5% 8% !important;
    background-color: rgb(222, 222, 222);
}
.card-body input{
    background-color: rgba(255, 255, 255, 0.6);
}

.login-form button{
    width: 30%;
    margin: auto;
}

.cnpj{
    background-color: white !important;
    border: 1px solid #5252526e !important;
}

.form-check-input{
    border: 1px solid #5252526e !important;
}

.password {
    background-color: white !important;
    border: 1px solid #5252526e;
    width: 100%;
    /* margin: .75rem; */
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    /* border: 1px solid #dee2e6; */
    user-select: none;
    padding: 0 !important;
}

.password .passwordInput {
    padding: 0.375rem 0.75rem;
    width: 100%;
    height: 100%;
    background-color: #fff;
    margin: auto;
    border: 0;
    font-size: larger;
    border-radius: 5px 0 0 5px;
}

.password .passwordInput:focus {
    outline: none;
}


.password .passwordToggle {
    border: 0;
    width: auto;
    border-left: 1px solid #dee2e6;
    display: inline-block;
    padding: .375rem 0.75rem;
    transition: background-color 0.5s;
    border-radius: 0 5px 5px 0;
    background-color: rgb(250, 250, 250);
}
.password .passwordToggle:hover {
    background: rgba(220, 216, 245, 0.384);
    transition: background-color 0.5s;
}

.home-footer footer {
    bottom: 0;
}

@media (max-width: 480px) {
    .home{
        background-position: center center;
        height: 100vh;
    }
    .home::before {
        height: 100vh;
    }

    .card{
        width: 70%;
    }
    .login-form{
        margin: auto;
        width: 90%;
    }
    .login-form button{
        width: 40%;
    }

    .filter-home{
        height: 100vh;

    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .card{
        width: 60%;
    }
    .login-form{
        margin: auto;
        width: 90%;
    }
    .filter-home{
        height: 100vh;

    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .card{
        width: 50%;
    }
    
}

@media (min-width: 993px) and (max-width: 1024px) {
    .card{

        width: 60%;
    }
}
