* {
    margin: 0;
}


.area-cliente {
    width: 92%;
    max-height: 95%;
    min-height: 88%;
    margin: 5% auto 2% 3.5%;
    z-index: 3;
    background-color: #b1b1b1ed;
    border-radius: 20px;
}

.cliente-data{
    display: grid;
    align-items: end;
    grid-template-columns: 5fr 4fr 2fr;
    padding: 2% 2% 1% 2%;
    justify-content: space-between;
}

.user-data-actions{
    display: flex;
}

.btn-editar-cliente{
    width: fit-content;
    margin-right: 0;
    margin-left: auto;
}

.btn-add-folder{
    border: 1px solid #198754 !important;
}
.btn{
    background: linear-gradient(to bottom, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
}

.files-folders{
    min-height: 85%;
    display: grid;
    grid-template-columns: 3fr 8fr;
}

.url-container{
    display: flex;
    flex-direction: row;
    width: 100%
}

.folders-url {
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 3%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
}

.retorno {
    margin: auto 5%;
    font-size: 1.3em;
}

.retorno:hover {
    color: black;
}

.folders-projects-container {
    width: 100%;
    max-height: 100%;
    padding: .5em;
}

.folders-projects-container a {
    text-decoration: none;
    color: var(--bs-heading-color);
}

.folders-projects {
    width: 100%;
    height: inherit;
    display: flex;
}

.folders-projects-container h3 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    padding-bottom: .3em;
    text-decoration: none;
    font-family: Inter;
}

.projects {
    margin-top: 10%;
    padding: 2%;
    overflow-y: auto;
    max-height: 65%;
    max-width: 100%;
}

.projects::-webkit-scrollbar {
    width: 0.4em;
    margin-top: 5%;
    height: 10px;
    background-color: #a6aaaa64;
    border-radius: 10px;
}

/* Altera a cor do thumb */
.projects::-webkit-scrollbar-thumb {
    background-color: #212529;
    border-radius: 10px;
}

.projects::-webkit-scrollbar-thumb:active {
    background-color: #000000;
    border-radius: 10px;
}

.folder {
    border-top: 1px solid rgba(0, 0, 0, 0.199);
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 3% 0;
    justify-content: space-between;
}
.folder-name{
    display: inline-flex;
    align-items: baseline;
}
.folder-actions button{
    width: 2em;
}

.projects li:first-child {
    padding-top: 0;
    margin-top: -1%;
    border: none;
}

.folder h5 {
    padding-left: 2%;
    margin: 0;
}

.div-vertical {
    width: 3px;
    max-height: 100%;
    margin: 0 0 5% 0;
    background-color: rgba(29, 29, 29, 0.3);
    border-radius: 0px 0px 5px 5px;
}

.div-horizontal {
    height: 3px;
    max-width: 100%;
    margin: 0 1.5%;
    background-color: rgba(29, 29, 29, 0.3);
    border-radius: 5px;
}


@media (min-width: 320px) {
    .folders-url{
        margin-right: 2%!important;
    }
}

@media (min-width: 375px) {
    .folders-url{
        margin-right: 7%!important;
    }
}
@media (max-width: 480px) {
    .pastas-select{
        background-color: rgba(255, 255, 255, 0.6) !important;
        border-radius: 5px !important;
        border: 1px solid black !important;
        color: var(--bs-heading-color)!important;
        font-weight: 600 !important;
        display: flex !important;
        align-items: center;
        justify-content: center;
        font-size: 1.25em !important;
    }

    .folders-url{
        padding: 6px 12px !important;
        color: var(--bs-heading-color)!important;
        font-weight: 600 !important;
        font-size: 1.25em !important;
        margin-bottom: 0;
        width: 65%;
        margin-right: 10% !important;
    }
    .area-cliente{
        width: 99%;
        max-height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .div1{
        display: none;
    }
    .footer-text{
        line-height: 1.8em !important;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .area-cliente{
        width: 90%;
        margin: auto;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .folders-projects{
        height: 90%;
    }
}

@media (min-width: 993px) and (max-width: 1024px) {}

@media (min-width: 1025px) and (max-width: 1200px) {}

@media (min-width: 1201px) {}