/*                   HOME                     */
.home {
    position: relative; /* Necessário para o posicionamento absoluto interno */
    background-image: url('../../images/LEB.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
    overflow-y: hidden;
    height: 100vh;
    z-index: -2;    
}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(270deg, rgba(99, 186, 204, 0.246) 0%, rgba(44,179,238,0.6) 50%, rgba(0,0,0,1) 100%);
    /* Gradiente azul */
    opacity: 1; /* Ajuste a opacidade conforme necessário */
    pointer-events: none; /* Evita interação com o pseudo-elemento */
    z-index: -2;    
}


.filter-home{
    display: flex;
    position: relative;
    background-color: rgba(0, 0, 0, 0.575);
    flex-direction: column;
    z-index: 1;
}

.content{
    max-width: 100%;
    overflow-x: hidden;
}