.document-modal-body{
    background-color: #888!important;
    display: grid !important;
    grid-template-columns: 30fr 1fr 8fr !important;
    max-height: 90vh; 
    overflow-y: hidden;
}

.document-modal-content{
    padding: 1%;
}

.document-modal-information{
    padding: 5% 8% 5% 0;
    display: flex;
    flex-direction: column;
}

.document-modal-information .file-info{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    margin-top: 12%;
    list-style: none;
    padding-left: 0;
    overflow-y: auto;
}
.document-modal-information div h5{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}
.modal-title{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

.div-modal-vertical {
    width: 3px;
    max-height: 100%;
    margin: 1% 5%;
    background-color: rgba(29, 29, 29, 0.8);
    border-radius: 5px;
}

@media (max-width: 767px)  {
    .document-modal-information{
        display: none;
    }
    .div-modal-vertical{
        display: none;
    }
    .document-modal-body{
        grid-template-columns: 1fr !important;
    }
}